/* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> */

body {
  background: url(https://cdn2.hubspot.net/hubfs/237944/landing/bg-landing.jpg?t=1507056007906) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-header {
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
}
