html {
  background: url(https://cdn2.hubspot.net/hubfs/237944/landing/bg-landing.jpg?t=1507056007906) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
 flex-direction: column;
 height: 100vh;
}
* {
  box-sizing: border-box;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  background: #121C23;
  color: white;
  padding: 20px
}
