body {
  background: url(https://cdn2.hubspot.net/hubfs/237944/landing/bg-landing.jpg?t=1507056007906) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
